.slide-right{
    opacity:0;
    filter:blur(5px);
    transform:translateX(-100%);
    transition:all 1s;

}
.slide-left{
    opacity:0;
    filter:blur(5px);
    transform:translateX(100%);
    transition: all 1s;

}
.fade-in{
    opacity:0;
    filter:blur(5px);
    transition: all 0.3s;
}
.button-slide-left{
    transform:translateX(50%);
    transition : all 0.5s;
}
.slide-up{
    opacity:0;
    filter:blur(5px);
    transform:translateY(100%);
    transition:all 1s;

}
.slide-down{
    opacity:0;
    filter:blur(5px);
    transform:translateY(-100%);
    transition:all 1s;

}
.trigger{
    opacity:1;
    filter:blur(0);
    transform:translate(0);
}